#define VOS_NT_WINDOWS32    0x00040004L
#define VFT_APP                      0x00000001L

//this will set your .exe icon
A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Icon.ico"

//include version information in .exe, modify these values to match your needs
1 VERSIONINFO
FILEVERSION 0,1,1,1
PRODUCTVERSION 0,1,1,1
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "Dilshan Corporation"
			 VALUE "FileVersion", "1.1.1"
			 VALUE "FileDescription", "ATM"
			 VALUE "InternalName", "ATM"
			 VALUE "LegalCopyright", "©Dilshan Corporation. All rights reserved®"
			 VALUE "LegalTrademarks", "Dilshan Corporation™,Chamindu DIlshan™"
			 VALUE "OriginalFilename", "ATM.EXE"
			 VALUE "ProductName", "ATM"
			 VALUE "ProductVersion", "1.1.1"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252 //language codes
	 }
}
